/*Wiki css*/
.mw-headline-anchor{display:none}
.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
}
.tleft {
    margin: 0.5em 1.4em 1.3em 0;
}
.tleft, floatleft, floatleft {
    float: left;
    clear: left;
}
img, .extimgthumb > a > img {
    max-width: 100%;
    max-height: 100%;
}
.scalable {
    transition: 0.5s ease;
    margin-right: 15px !important;
}
.scalable:hover {
    transition: 1s ease;
    margin-right: 290px !important;
}
.scalable > div:hover {
    width: 200%;
    transition: 1s ease;
}
.thumbinner {
    border: 1px solid #ccc;
    /* padding: 3px; */
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}
.tright {
    margin: 0.5em 0 1.3em 1.4em;
}
#bodyContent a.external {
    color: #36b;
}
.mw-body a.external:visited {
    color: #636;
}
.plainlinks a.external {
    background: none !important;
    padding: 0 !important;
}
table {
    font-size: 100%;
}
.mw-content-ltr {
    direction: ltr;
}
.mw-content-ltr .magnify {
    float: right;
    margin-left: 3px;
    margin-right: 0;
}
.mw-content-ltr .thumbcaption {
    text-align: left;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
ul {
    list-style-type: square;
    list-style-image: url(data:image/gif;base64,R0lGODlhBQANAIAAAGOMnP///yH5BAEAAAEALAAAAAAFAA0AAAIJjI+pu+APo4SpADs=);
    list-style-image: url(/wiki/images/bullet.gif?11907)!ie;
}
html .thumbcaption {
    border: none;
    line-height: 1.4em;
    padding: 3px;
    /* font-size: 94%; */
    /* text-align: left; */
}
img {
    border: none;
    vertical-align: middle;
}
table.wikitable {
    margin: 1em 0;
    border: 1px solid #aaa;
    border-collapse: collapse;
    color: black;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #f2f2f2;
    text-align: center;
}
table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
    border: 1px solid #aaa;
    padding: 0.2em 0.4em;
}


.pagenav {
    /* min-height: 20px; */
    /* padding: 19px; */
    margin-bottom: 20px;
    background-color: #eaecf0;
    border: 1px solid #a2a9b1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.container2 {
    margin-right: 5%;
    margin-left: 5%;
}
.pBody {
    position: absolute;
    right: 0;
    top: 116px; 
    width: 500px;
}
.searchInput {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-right: 4px;
    padding: 4px 6px;
    transition: border linear .2s,box-shadow linear .2s;
    vertical-align: middle;
}
#input.searchButton {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
}
#searchGoButton {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}
#p-search .pBody {
    padding: 0.5em 0.4em 0.4em 0.4em;
    text-align: center;
}
input.searchButton {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    margin-top: -10px;
}
.mw-category {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 24em;
    -moz-column-width: 24em;
    column-width: 24em;
}
.mw-category-group li{
   -webkit-column-break-inside:avoid;
   page-break-inside:avoid;
   break-inside:avoid-column;
}
.mw-body {
    margin: 2.8em 0 0 12.2em;
    padding: 1em;
    position: relative;
    z-index: 2;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-right: 0;
    line-height: 1.5em;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{font-weight:bold;page-break-after:avoid;page-break-before:avoid}
h3, h4, h5 {
    margin-bottom: 0.3em;
}
h3 {
    font-size: 128%;
}
h3, h4, h5, h6 {
    border-bottom: 0;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

h1, h2 {
    margin-bottom: 0.6em;
}
h2 {
    font-size: 150%;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.catlinks {
    text-align: left;
}

.catlinks {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    margin-top: 1em;
    clear: both;
}
.catlinks ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    vertical-align: middle !ie;
}
.catlinks ul{
	display:inline;
	padding:0;
	list-style:none none
	}
.catlinks li{
	display:inline-block;
	line-height:1.15;
	margin:0.1em 0;
	border-left:1pt solid #aaa;
	padding:0 0.4em
	}
.catlinks li:first-child{
	border-left:0;
	padding-left:0.2em
}
.mw-search-result-data {
    color: #008000;
    font-size: 80%;
}
.mw-search-results li {
    padding-bottom: 1.2em;
    list-style: none;
    list-style-image: none;
}
.search-pol {
    margin-left: 2%;
}
#toc,.toc{
	background-color:#f9f9f9;
	border:1pt solid #aaa;
	padding:5px;
	display:table
}
.tocnumber,.toctext{
	display:table-cell
}
.tocnumber{
	padding-left:0;
	padding-right:0.5em
}
.mw-content-ltr .tocnumber{
	padding-left:0;
	padding-right:0.5em
}
.mw-content-rtl .tocnumber{
	padding-left:0.5em;
	padding-right:0
}
#toc ul,.toc ul{
	margin:0.3em 0
}
.mw-content-ltr .toc ul,.mw-content-ltr #toc ul,.mw-content-rtl .mw-content-ltr .toc ul,.mw-content-rtl .mw-content-ltr #toc ul{
	text-align:left
}
.mw-content-rtl .toc ul,.mw-content-rtl #toc ul,.mw-content-ltr .mw-content-rtl .toc ul,.mw-content-ltr .mw-content-rtl #toc ul{
	text-align:right
}
.mw-content-ltr .toc ul ul,.mw-content-ltr #toc ul ul,.mw-content-rtl .mw-content-ltr .toc ul ul,.mw-content-rtl .mw-content-ltr #toc ul ul{
	margin:0 0 0 2em
}
.mw-content-rtl .toc ul ul,.mw-content-rtl #toc ul ul,.mw-content-ltr .mw-content-rtl .toc ul ul,.mw-content-ltr .mw-content-rtl #toc ul ul{
	margin:0 2em 0 0
}
#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle{
	direction:ltr
}
#toc,.toc,.mw-warning,.toccolours{
	border:1px solid #a2a9b1;
	background-color:#f8f9fa;
	padding:5px;font-size:95%
}
#toc,.toc{
	display:inline-block;
	display:table;zoom:1;
	*display:inline;padding:7px
}
table#toc,table.toc{
	border-collapse:collapse
}
table#toc td,table.toc td{
	padding:0
}
#toc h2,.toc h2{
	display:inline;
	border:0;
	padding:0;
	font-size:100%;
	font-weight:bold
}
#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle{
	text-align:center
}
#toc ul,.toc ul{
	list-style-type:none;
	list-style-image:none;
	margin-left:0;
	padding:0;
	text-align:left
}
#toc ul ul,.toc ul ul{
	margin:0 0 0 2em
}
.tocnumber,.toctext{
	display:table-cell;
	text-decoration:inherit
}
.tocnumber{
	padding-left:0;
	padding-right:0.5em;
	color:#222
}
.mw-content-ltr .tocnumber{
	padding-left:0;
	padding-right:0.5em
}
.mw-content-rtl .tocnumber{
	padding-left:0.5em;
	padding-right:0
}
#toc ul{
	display.none;
}
